<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Single+Day&display=swap" rel="stylesheet">
  <style>
    .align-center {
      text-align: center;
    }
  </style>
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3>로그인 정보</h3>
        <h4>{{data.email}}</h4>
        <img style='width:200px; height:200px;' src="{{data.picture}}">
      </div>
      <div class="col-md-6">
        <h1>고생 많으셨어요</h1>
        <h2>6기에서 서비스 고도화 허싈?</h2>
        <img style='width:350px; height:600px;' src="https://media.d3fau1t.net/images/wantyou.png">
      </div>
      <div class="col-md-3">
        <h1>할지 안할지</h1>
        <h2>아무도 몰라ㅏㅏ</h2>
        <h3>힇히힣ㅎ</h3>
      </div>
    </div>
  </div>
  <script src="https://kit.fontawesome.com/f3d5717210.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
</body>

</html>