{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/mypage.css') }}">
<div class="container" style='text-align: center;'>
    <img src="{{user.picture}}" alt="profile" width="80" height="80" style="border-radius:50%; margin-top: 1.2rem;"><br/>
    <row style="display:flex; justify-content: center;">
        <input
            type="text"
            name="user-nickname-input"
            id="user-nickname-input"
            value="{{user.nickname}}"
            style="width: 50%; background-color: antiquewhite; margin-top: 1.2rem; display: none; border:none;"
            onfocusout="submitNickname()"
            onkeypress="if (event.keyCode == 13) {submitNickname()}"
        >
        <h1 id='user-nickname-headline' style="margin-top: 0.4rem; margin-left: 16px;">{{user.nickname}}</h1>
        <i class="fa fa-pencil" aria-hidden="true" onclick="replaceNickname()"></i>
    </row>
    <row style="display:flex; justify-content: center;">
        <input
            type="text"
            name="user-message-input"
            id="user-message-input"
            value="{{user.message}}"
            style="width: 50%; margin-top: 1.2rem; background: antiquewhite; display: none;"
            onfocusout="submitMessage()"
            onkeypress="if (event.keyCode == 13) {submitMessage()}"
        >
        <h5 id='user-message-headline' style="margin-top: 0.4rem; margin-left: 26px;">{{user.message}}</h5>
        <i class="fa fa-pencil" aria-hidden="true" style="padding-left:10px" onclick="replaceMessage()"></i>
    </row>
    {{user.school}}<br/>
    {{user.email}}<br/>
    <hr>
    <div id='my-meals'>
        <!-- pass -->
    </div>
</div>
<script src="{{ url_for('static', filename='js/mypage.js') }}"></script>
{% endblock %}