<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Single+Day&display=swap" rel="stylesheet">

  <style>
    * {
      font-family: 'Single Day', cursive;
    }

    body {
      background-color: whitesmoke;
    }

    .wrap {
      width: 100%;
      height: 1000px;
      margin: auto;
    }

    .display-flex-center {
      display: flex;
      justify-content: center;
    }

    .background-color-yellow {
      background-color: #ffd000;
    }

    .header {
      display: flex;
      text-align: center;
    }

    a {
      text-decoration: none;
      color: black;
    }

    .rank {
      margin-top: 1rem;
      font-size: 20px;
      text-align: center;
    }

    .btn {
      width: 50px;
      height: 40px;
      background-color: #ffd000;
      padding: 5px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      cursor: pointer;
    }

    .review {
      margin: 0 auto;
    }

    .full-height {
      height: 100%;
    }

    li {
      list-style-type: none;
    }
  </style>
</head>

<body>
  <div class="wrap">
    <div class="header">
      <span style="padding-left: 10px; color:#4caf50; font-size:10vw;"><i class="fas fa-seedling"></i></span>
      <h1 style="font-size:10vw">밥경찰과 밥도둑</h1>
    </div>

    <nav class="navbar navbar-expand-lg background-color-yellow">
      <div class="collapse navbar-collapse display-flex-center" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">오늘의 급식 <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="ranking.html">랭킹 밥경찰</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="write.html">글작성</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mypage.html">마이페이지</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class='container'>
      <p>
        <a style="font-size:40px">오늘의 급식!!</a>
      </p>
      <div class="row" style="padding-bottom: 1rem;">
        <div class="col-md-3">
          <div class="input-group mb-3 full-height">
            <div class="input-group-prepend">
              <span class="input-group-text background-color-yellow" id="inputGroup-sizing-default">지역</span>
            </div>
            <select class="custom-select full-height" id="inputGroupSelect01">
              <option selected>Choose...</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="input-group full-height">
            <div class="input-group-prepend">
              <label class="input-group-text background-color-yellow" for="inputGroupSelect01">학교</label>
            </div>
            <input class="form-control" type="text" placeholder="Search" aria-label="Search" id="searchSchool">
            <div value='' id="school-code-div"></div>
            <div type="button" class="btn btn-warning full-height" onclick="searchSchool()" data-toggle="modal" data-target="#exampleModal">
              <i class="fas fa-search text-grey" aria-hidden="true"></i>
            </div>
          </div>
        </div>

        <!-- Modal Dialog -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">학교 목록</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <!-- <span aria-hidden="true">&times;</span> -->
                </button>
              </div>
              <div class="modal-body" id="school-list-modal">
              </div>
              <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
            </div>
          </div>
        </div>
        <!-- Modal Dialog -->

        <div class='col-md-3'>
          <!-- <div class="input-time"> -->
          <input class="calander full-height" type='date' id='currentTime' style="width:100%;" />
          <!-- </div> -->
        </div>
        <div class='col-md-3'>
          <button
            type="button"
            class="btn btn-serch"
            style="width:100%; height:100%;"
            onclick="meals()"
          >찾아보기</button>
        </div>
      </div>
      <div class="table">
        <table>
          <tbody id="table-body">
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script src="https://kit.fontawesome.com/f3d5717210.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
  <script>
    function locationList() {
      return new Promise((resolve, reject) => {
        $.ajax({
          type: 'GET',
          url: "https://meal-board.herokuapp.com/school/location",
          dataType: "json",
          data: {},
          success: (response) => {
            return resolve(response.location)
          },
          error: (e) => {
            reject(e)
          }
        })
      })
    }

    function insertLocation(location) {
      let selector = document.getElementById('inputGroupSelect01')
      for (const [key, value] of Object.entries(location)) {
        let option = document.createElement('option')
        option.value = key
        option.key = value
        option.text = value
        selector.add(option)
      }
    }

    function searchSchool() {
      const schoolName = document.getElementById('searchSchool').value
      const selector = document.getElementById('inputGroupSelect01')
      const regionCode = selector.options[selector.selectedIndex].value
      $.ajax({
        type: "GET",
        url: "https://meal-board.herokuapp.com/school",
        data: {
          'location': regionCode,
          'school': schoolName
        },
        success: function (response) {
          const school_list = response.school_list
          console.log(school_list)
          const modal = document.getElementById('school-list-modal')
          modal.innerHTML = ''
          for (school_info of school_list) {
            console.log(school_info)
            let schoolDiv = document.createElement('div')
            const schoolInfo = document.createTextNode(school_info.school_name)
            schoolDiv.appendChild(schoolInfo)
            schoolDiv.setAttribute('value', school_info.school_code)
            schoolDiv.setAttribute('name', school_info.school_name)
            schoolDiv.setAttribute('onclick', `setSchoolInfo(${school_info.school_code}, "${school_info.school_name}")`)
            modal.append(schoolDiv)
          }
        }
      })
    }

    function setSchoolInfo(school_code, school_name) {
      document.getElementById('school-code-div').value = school_code
      document.getElementById('searchSchool').value = school_name
      $('#exampleModal').modal('hide')
    }

    function meals() { // 함수 파라미터로 날짜정보 전달 
      console.log(!checkButtonDisabled())
      if (checkButtonDisabled()) {
        alert('학교 및 날짜정보를 입력해주세요')
        return
      }
      const selector = document.getElementById('inputGroupSelect01')
      const regionCode = selector.options[selector.selectedIndex].value
      const yyyymmdd = document.getElementById('currentTime').value.split('-').join('')
      const schoolCode = document.getElementById('school-code-div').value
      $.ajax({
        type: "GET",
        url: "https://meal-board.herokuapp.com/meal",
        data: {
          'begin': yyyymmdd,
          'end': yyyymmdd,
          'region_code': regionCode,
          'school_code': schoolCode
        },
        success: function (response) {
          try{
            const mealInfo = response.result[yyyymmdd].DDISH_NM
            const mealTable = document.getElementById('table-body')
            mealTable.innerHTML = ''
            const tr = document.createElement('tr')
            for (meal of mealInfo){
              const td = document.createElement('td')
              const mealName = document.createTextNode(meal)
              td.appendChild(mealName)
              tr.appendChild(td)
            }
            mealTable.appendChild(tr)
          } catch(err) {
            const mealTable = document.getElementById('table-body')
            mealTable.innerHTML = ''
            const tr = document.createElement('tr')
            const td = document.createElement('td')
            const mealName = document.createTextNode('메뉴정보를 불러올 수 없어요..')
            td.appendChild(mealName)
            tr.appendChild(td)
            mealTable.appendChild(tr)
          }
        }
      })
    }

    function checkButtonDisabled() {
      const check_school_code = document.getElementById('school-code-div').value !== undefined ? false : true
      const check_date = document.getElementById('currentTime').value !== '' ? false : true
      return check_school_code && check_date
    }
  </script>
  <script>
    $(document).ready(async () => {
      const location = await locationList()
      insertLocation(location)
    });
  </script>
</body>

</html>